.featured{
    
    height: 600px;
    display: flex;
    justify-content: center;
    background-color:rgb(234, 242, 255);
    padding-bottom: 80px;
    .container{
        width: 1300px;
        display: flex;
        align-items: center;
    }
    .left{
        padding-left: 80px;
        padding-bottom: 20px;
        width: 90%;

        h1{
            font-size: 50px;
            font-family: "Montserrat", sans-serif;

        }
        .join{
            
            align-content: center;
            display: flex;
            display: flex;
            justify-content: center; /* Ajout de la propriété */
            align-items: center; /* Ajout de la propriété */

            button{
                width: 120px;
                height: 50px;
                border-radius: 5px;
                font-weight: bold;                
                background-color:rgb(97, 182, 168);

                //background-color:rgb(34, 101, 90);
                color: white;
                border: none;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


                
                cursor: pointer;
                &:hover{
                    background-color: rgb(113, 203, 188);
                    color: white;
                 }
    
    
            }
        }
        
    }
    .right{
        img{
            height: 100%;
            width: 500px;
            object-fit: cover;
        }

    }
}