.log{
    // background: linear-gradient(90deg, rgba(151, 151, 231, 0.8) 4%, rgba(137, 171, 219, 0.8) 47%, rgba(118, 210, 228, 0.8) 100%);
    // backdrop-filter: blur(5px); /* Ajouter l'effet de flou */
    // -webkit-backdrop-filter: blur(10px);
    h2{
        align-content: center;
        display: flex;
        display: flex;
        justify-content: center; /* Ajout de la propriété */
        align-items: center; /* Ajout de la propriété */
        color: rgb(71, 71, 232);
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
    }

}