.log{
    h2{
        align-content: center;
        display: flex;
        display: flex;
        justify-content: center; /* Ajout de la propriété */
        align-items: center; /* Ajout de la propriété */
        color: rgb(71, 71, 232);
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
    }

}