.pricing{
    height: 500px;
    display: flex;
    justify-content: center;
    background-color:rgb(234, 242, 255);
    padding-bottom: 20px;

    padding-top: 10px;
    .container{
        width: 1300px;
        display: flex;
        align-items: center;
    }
    
    .left{
        padding-top: 10px;

        img{
            height: 100%;
            width: 490px;
            object-fit: cover;
        }

    }

    .right{
        h2{
            font-size: 50px;
            font-family: "Montserrat", sans-serif;

        }
        .para{
            font-size: 20px;
            font-family: "Montserrat", sans-serif;

        }
        .join{
            
            align-content: center;
            display: flex;
            display: flex;
            justify-content: center; /* Ajout de la propriété */
            align-items: center; /* Ajout de la propriété */

            button{
                width: 120px;
                height: 50px;
                border-radius: 5px;
                font-weight: bold;
                background-color:rgb(6, 150, 190);
                color: white;
                border: none;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

                
                cursor: pointer;
                &:hover{
                    background-color: rgb(0, 178, 225);
                    color: white;
                 }
    
    
            }
        }
        
    }
}