.chat {
  display: flex;
  height: 100%;
  font-family: "Montserrat", sans-serif;

  .left{
    width: 1200px;
    .message-cont {
      flex: 2;
      height: 500px;

      padding: 20px;
      overflow-y: auto;
      height: 500px;

    }
  
  }
  .right{

    .user-list {
      flex: 1;
      padding: 20px;
      background-color: #f1f1f1;
    }
  }
  
}
